<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<%= cache(cache_key_for_businesses(@businesses)) do %>
  <table class="table table-hover pretty">
    <thead>
      <tr>
        <th><%= sortable "title" %></th>
        <th><%= sortable "category" %></th>
        <th><%= sortable "rating" %></th>
        <% if can? :manage, @businesses %>
          <td><%= " " %></td>
          <td><%= " " %></td>
        <% end %> 
      </tr>
    </thead>
    <tbody>
      <% @businesses.each do |business| %>
        <% cache(business) do %>
          <tr>
            <td>
              <% if business.created_at > 7.days.ago %>
                <%= link_to business.title, business %> <span class="label label-primary">New</span>
              <% else %>
                <%= link_to business.title, business %>
              <% end %>
            </td>
            <td><%= business.category %></td>
            <td>
              <%= number_with_precision(business.reviews.average("rating"), :precision => 2 || 0) 
              %>
            </td>
            <% if can? :manage, business %>
              <td><%= link_to "Edit", edit_business_path(business) %></td>
              <td><%= link_to "Destroy", business, data: { confirm: 'Are you sure?' }, method: :delete %>
              </td>
            <% end %> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="pagination">
    <%= will_paginate @businesses, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>
