<%= cache(cache_key_for_businesses(@businesses)) do %>
  <div class="bus_index_well">
    <table class="table table-hover pretty">
      <thead>
        <tr>
          <th><%= sortable "title" %></th>
          <th><%= sortable "category" %></th>
          <th><%= sortable "rating" %></th>
        </tr>
      </thead>
      <tbody>
        <% @businesses.each do |business| %>
          <% cache(business) do %>
            <tr>
              <td>
                <% if business.created_at > 7.days.ago %>
                  <%= link_to business.title, business %> <span class="label label-primary">New</span>
                <% else %>
                  <%= link_to business.title, business %>
                <% end %>
              </td>
              <td><%= business.category %></td>
              <td>
                <%= number_with_precision(business.reviews.average("rating"), :precision => 2 || 0) 
                %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="pagination">
      <%= will_paginate @businesses, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>
