<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-hover pretty">
    <tr>
        <th><%= sortable "title" %></th>
        <th><%= sortable "category" %></th>
        <th><%= sortable "rating" %></th>
        <% if can? :manage, @businesses %>
            <th><%= sortable "Edit" %></th>
            <th><%= sortable "Delete" %></th>
        <% end %>
    </tr>
    <% for business in @businesses %>
        <tr>
            <td>
                <% if business.created_at > 7.days.ago %>
                    <%= link_to business.title, business %> <span class="label label-primary">New</span>
                <% else %>
                    <%= link_to business.title, business %>
                <% end %>
            </td>
            <td><%= business.category %></td>
            <td>
                <%= number_with_precision(business.reviews.average("rating"), :precision => 2 || 0) 
              %>
            </td>
            <% if can? :manage, business %>
                <td><%= link_to "Edit", edit_business_path(business) %></td>
                <td><%= link_to "Destroy", business, data: { confirm: 'Are you sure?' }, method: :delete %><td>
            <% end %>
        </tr>
    <% end %>
</table>
<div class="pagination">
    <%= will_paginate @businesses, renderer: BootstrapPagination::Rails %>
</div>