<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @business do |f| %>
      <%= f.error_notification %>
      <p>
        <%= f.input :title %>
      </p>
     
      <p>
        <%= f.input :text %>
      </p>

      <fieldset class="fields">
        <legend>Address</legend>
        <div>
          <%= f.input :street %>
          <%= f.input :city, priority: [ "Zachary" ], collection: [ "Zachary", "Baker", "Clinton"] %>
          <%= f.input :state, priority: [ "Louisiana" ], collection: [ "Louisiana" ] %>
          <%= f.input :zip_code, priority: ['70791'], collection: [ '70791', '70714', '70722']  %>
          <%= f.input :map_heading %>
          <%= f.input :latitude %>
          <%= f.input :longitude %>
          <%= f.input :gmaps %>
        </div>
      </fieldset>
      <br>
      <fieldset class="fields">
        <legend>General Info</legend>
        <div>
          <%= f.input :telephone, as: :tel %>
          <%= f.input :website, placeholder: 'www.website.com' %>
          <%= f.input :op_hours, placeholder: '7:00AM - 9:00PM; Mon-Sat' %>
          <%= f.input :category, collection: ['Arts, Crafts, & Collectibles', 'Baby', 'Beauty & Fragrances', 'Books & Magazines', 'Business to Business', 'Clothing, Accessories, & Shoes', 'Computers, Accessories, & Services', 'Education', 'Electronics & Telecom', 'Entertainment & Media', 'Financial Services & Products', 'Food Retail & Service', 'Gifts & Flowers', 'Government', 'Health & Personal Care', 'Home & Garden', 'Nonprofit', 'Pets & Animals', 'Religion', 'Retail', 'Services - Other', 'Sports & Outdoors', 'Toys & Hobbies', 'Travel', 'Vehicle Sales', 'Vehicle Service & Accessories'] %>
        </div>
      </fieldset>
        
      <p>
        <%= f.submit :class => 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
</div>