<div class="row ">
    <div class="col-md-12">
        <h1>Business List</h1>
        <p>
            <% if can? :create, @business %>
                <%= link_to 'Add Business', new_business_path %>
            <% end %>
        </p>
        <%= form_tag businesses_path, :method => 'get', :id => "businesses_search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          </p>
          <div id="businesses">
            <%= render 'businesses' %>
          </div>
        <% end %>
    </div>
</div>
