<div class="row ">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="bus_name"><%= controller.action_name == 'search' ? 'Searching businesses' : 'Listing businesses' %></h1>
    <div class="add_business">
      <p>
        <% if can? :create, @business %>
            <%= link_to('Add Business', new_business_path, :class => 'btn btn-primary') %>
        <% end %>  
      </p>
    </div>
    <%= form_tag search_businesses_path, method: 'get' do %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...' %>

        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    <% end %>

    <hr>
    
    <div id="businesses">
      <%= render 'businesses' %>
    </div>
  </div><!-- col -->
</div><!-- row -->
