<div class="row ">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="bus_name"><%= controller.action_name == 'search' ? 'Search Results' : 'Business List' %>
    </h1>

    <%= form_tag search_businesses_path, method: 'get' do %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...' %>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
        <span>
          <%= link_to 'Clear', businesses_path, :class => "btn btn-default pull-right" %>
        </span>
      </div>
    <% end %>
    
    <hr>
    
    <div id="businesses">
      <%= render 'businesses' %>
    </div>
    <p class="add_business">
      <% if can? :create, @business %>
          <%= link_to('Add Business', new_business_path, :class => 'btn btn-primary') %>
      <% end %>  
    </p>
  </div><!-- col -->
</div><!-- row -->
