<p>
  <strong>Business Name:</strong>
  <%= @business.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @business.text %>
</p>
<h2>Add a review:</h2>
<%= render 'reviews/form' %>

<p><%= link_to 'Back', businesses_path %>

<h2>Reviews</h2>
<%= render @business.reviews %>    

