<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="jumbotron">
      <h3 class="bus_name"><strong><%= @business.title %></strong></h3>
      <p>
          <strong>Average Rating: </strong><%= number_with_precision(
              @business.reviews.average("rating"), :precision => 2 || 0) 
              %>
      </p>
      <% if @business.text.blank? %>
            
      <% else %>
        <p>
          <strong>About:</strong>
          <%= @business.text %>
        </p>
      <% end %>
      
      <p>
        <strong>Address:</strong>
        <span class="center-block"><a href="http://maps.apple.com/?q=<%= @business.title %> <%= @business.city %> <%= @business.zip_code %>&z=14" target="blank">
          
          <%= @business.street %><br>
          <%= @business.city %>, 
          <%= @business.state %>  
          <%= @business.zip_code %>
        </a></span>
      </p>

      <p>
        <strong>Telephone:</strong>
        <%= @business.telephone %>
      </p>
      <% if @business.website.blank? %>
            
      <% else %>
        <p>
          <strong>Website:</strong>
          <a href="<%= @business.website %>" target="blank">Link</a>
        </p>
      <% end %>

      <% if @business.op_hours.blank? %>
            
      <% else %>
        <p>
        <strong>Hours of Operation:</strong>
        <%= @business.op_hours %>
      </p>
      <% end %>
      
      <p>
        <strong>Category:</strong>
        <%= @business.category %>
      </p>
      <p>
        <% if can? :update, @business %>
            <%= link_to "Edit", edit_business_path(@business) %> | 
        <% end %>
        <% if can? :destroy, @business %>
            <%= link_to "Destroy", @business, data: { confirm: 'Are you sure?' }, method: :delete %>
        <% end %>
      </p>
    </div><!-- Jumbotron -->
  </div><!-- col-sm-12 col-md-6 -->
  <div class="col-sm-12 col-md-6">
    <div style='width: 100%;' id="map"><!-- Main Map -->
      <!-- This is a static googleMap to serve as a placeholder until I can get
        gmaps4rails working. -->
      <a href="http://maps.apple.com/?q=<%= @business.title %> <%= @business.city %> <%= @business.state %> <%= @business.zip_code %>&z=17" target="blank">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @business.latitude %>,<%= @business.longitude %>&zoom=15&size=600x400&maptype=roadmap&markers=color:red%7C<%= @business.latitude %>,<%= @business.longitude %>&key=<%= ENV['GOOGLE_API_KEY'] %>" class="img-responsive img-rounded map">
      </a>
    </div>
    <div><!-- Street View Pic -->
      <a href="http://maps.googleapis.com/maps/api/streetview?size=500x500&location=<%= @business.latitude %>,<%= @business.longitude %>&fov=90&heading=<%= @business.map_heading %>&pitch=10" target="blank"><img src="http://maps.googleapis.com/maps/api/streetview?size=150x150&location=<%= @business.latitude %>,<%= @business.longitude %>&fov=90&heading=<%= @business.map_heading %>&pitch=10" class="bus_thumb img-responsive img-rounded"></a>
    </div>
    <br>
  </div><!-- col-sm-12 col-md-6 -->
</div><!-- row -->
<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <h2>Add a review:</h2>
      <%= simple_form_for([@business, @business.reviews.build]) do |f| %>
        <%= f.error_notification %>
        <p>
          <%= f.input :review %>
        </p>
        <p>
          <%= f.input :rating, collection: 1..10 %>
        </p>
        <p>
          <%= f.submit :class => 'btn btn-primary' %>
        </p>
      <% end %> 
      <%= link_to('Back', businesses_path, :class => 'btn btn-primary')  %>
    </div><!-- well -->
  </div><!-- col-sm-12 -->
</div><!-- row -->
<div class="row">
  <div class="col-sm-12">
    <h2>Reviews</h2>
    <% if @business.reviews.count == 0 %>
    <p class="bus_name_home">
      Be the first to review this business!
    </p>
    <% else %>
      <%= render @business.reviews.reverse_order %>
    <% end %>
  </div><!-- col-sm-12 -->
</div>
<!-- Below is script for gmaps4rails -->
<!--<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    //handler.map.centerOn(markers[0]);
  });
</script>-->