<div class="jumbotron">
    <h3><strong><%= @business.title %></strong></h3>
    <p>
        <strong>Average Rating: </strong><%= number_with_precision(
            @business.reviews.average("rating"), :precision => 2 || 0) 
            %>
    </p>
    
    <p>
      <strong>About:</strong>
      <%= @business.text %>
    </p>
    <p>
      <strong>Address:</strong>
      <%= @business.street_no %> <%= @business.street %>
      <%= @business.city %>, LA
      <%= @business.zip_code %>
    </p>
    <p>
      <strong>Telephone:</strong>
      <%= @business.telephone %>
    </p>
    <p>
      <strong>Website:</strong>
      <%= @business.website %>
    </p>
    <p>
      <strong>Hours of Operation:</strong>
      <%= @business.op_hours %>
    </p>
    <p>
      <strong>Category:</strong>
      <%= @business.category %>
    </p>
    <p>
        <% if can? :update, @business %>
            <%= link_to "Edit", edit_business_path(@business) %> | 
        <% end %>
        <% if can? :destroy, @business %>
            <%= link_to "Destroy", @business, :method => :delete, :confirm => "Are you sure?" %>
        <% end %>
    </p>
</div>

<div class="well">
    <h2>Add a review:</h2>
    <%= render 'reviews/form' %>

    <button type="button" class="btn btn-default"><%= link_to 'Back', businesses_path %></button>
</div>

<h2>Reviews</h2>
<%= render @business.reviews.reverse_order %>