<div class="jumbotron">
    <h3><strong><%= @business.title %></strong></h3>
    <p>
      <strong>About:</strong>
      <%= @business.text %>
    </p>
</div>

<div class="well">
    <h2>Add a review:</h2>
    <%= render 'reviews/form' %>

    <button type="button" class="btn btn-default"><%= link_to 'Back', businesses_path %></button>
</div>
<div class="well">
    <h2>Reviews</h2>
    <%= render @business.reviews %>    
</div>