<p>
  <strong>Business Name:</strong>
  <%= @business.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @business.text %>
</p>
<h2>Add a review:</h2>
<%= render 'reviews/form' %>

<button type="button" class="btn btn-default"><%= link_to 'Back', businesses_path %></button>

<h2>Reviews</h2>
<%= render @business.reviews %>    