<% cache(cache_key_for_comments(@comments)) do %>
  <% @comments.each do |comment| %>  
    <% cache(comment) do %>
      <% if !comment.user_id.nil? %>
        <div class="comment_well">
          <p>
            <span><%= comment.text %></span><br>
            <%= render 'users/avatar', user: comment.user %> - <span class="reviewer_quote"><%= comment.user.first_name %> <%= comment.user.last_name %></span>
          </p>
          <span class = "timestamp">
            posted <%= time_ago_in_words(comment.created_at) %> ago.
          </span>
          <p class="comments_link">
            <%= link_to "View Comment", polymorphic_path([@commentable, comment]), :class => 'btn btn-default' %>
          </p>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>