<% cache(cache_key_for_comments(@comments)) do %>
  <% @comments.each do |comment| %>  
    <% cache(comment) do %>
      <% if !comment.user_id.nil? %>
        <div class="comment_well">
          <p>
            <span><%= comment.text %></span><br>
            <%= render 'users/avatar', user: comment.user %> - <span class="reviewer_quote"><%= comment.user.first_name %> <%= comment.user.last_name %></span>
          </p>
          <span class = "timestamp">
            posted <%= time_ago_in_words(comment.created_at) %> ago.
          </span>
          <% if can? :manage, comment %>
            <span>
              <%= link_to "Edit", [:edit, comment.post, comment]%> |

              <%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }  %>
            </span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>