<div class="well">
	<%= simple_form_for([@commentable, @comment]) do |f| %>
	  <%= f.error_notification %>
	  <fieldset class="fields">
	    <p>
        <%= f.input :text, placeholder: 'New comment...', label: false, rows: 8 %>
	    </p>
	    <p>
	      <%= f.submit :class => 'btn btn-primary' %> <%= link_to('Cancel', [@commentable], :class => 'btn btn-primary') %>
	    </p>
	  </fieldset>
	<% end %>	
</div>
