<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2><%= @user.first_name %>'s Reviews</h2>
    <% if @user.reviews.count == 0 %>
      <div class="user_no_review">
        <h2>It looks like you haven't reviewed any businesses yet. <%= link_to "Get started now!", businesses_path %></h2>  
      </div>
    <% end %>
    <br>
    <% cache(cache_key_for_user_reviews(@reviews)) do %>
      <% @reviews.each do |review| %>
        <% cache(review) do %>
          <div class="review_well">
            <p>
              <span class="bus_name_home"><%= link_to review.business.title, business_path(review.business) %></span>
            </p>
            <p>
              <%= review.review %>
            </p>  
            <p>
              Rating: <%= review.rating %>
            </p>  
            <p>
              <span class="timestamp">posted <%= time_ago_in_words(review.created_at) %> ago.</span>
            <p class="comments_link">
              <% if can? :manage, review %>
                <%= link_to("Edit", edit_review_path(review), :class => "btn btn-warning") %>
                <% destroy_modal_id = 'destroy_modal_id' %>
                <%= link_to I18n.t('review.destroy.link'), review, data: { confirm: I18n.t('review.destroy.prompt'), confirm_modal: "##{destroy_modal_id}" }, method: :delete, :class => "btn btn-danger" %>
                <%= render 'layouts/destroy_modal', id: destroy_modal_id, i18n_prefix: 'review.destroy' %>
              <% end %>
            </p>
          </div><!-- review well -->
        <% end %><!-- cache(review) -->
      <% end %> <!-- reviews.each -->
    <% end %><!-- cache(@reviews) -->
    <div class="pagination">
        <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
    </div>
  </div><!-- col-sm-12 -->
</div><!-- row -->