<div class="row">
  <div class="col-sm-12">
    <h2><%= @user.first_name %>'s Reviews</h2>
    <% if @user.reviews.count == 0 %>
      <div class="user_no_review">
        <h2>It looks like you haven't reviewed any businesses yet. <%= link_to "Get started now!", businesses_path %></h2>  
      </div>
    <% end %>
    <br>
    <div>
      <% @reviews.each do |review| %>
        <div class="review_well">
          <p>
            <span class="bus_name_home"><%= link_to review.business.title, business_path(review.business) %></span>
          </p>
          <p>
            <%= review.review %>
          </p>  
          <p>
            Rating: <%= review.rating %>
          </p>  
          <p>
            <span class="timestamp">posted <%= time_ago_in_words(review.created_at) %> ago.</span>
          </p>
          <% if can? :update, review %>
            <span class = "timestamp">
              <%= link_to "Edit", edit_review_path(review)%> |

              <%= link_to "Delete", review, method: :delete, data: { confirm: 'Are you sure?' }  %>
            </span>
          <% end %>
        </div><!-- well -->
      <% end %>
    </div><!-- reviews container-->
    <div class="pagination">
        <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
    </div>
  </div><!-- col-sm-12 -->
</div><!-- row -->