<div class="container marketing">
  <!-- Start Featurettes -->
  <div class="row">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <%= image_tag "home/marketing_1_large.jpg", :class => 'img-rounded img-responsive featurette_image' %>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Log In. <span class="text-muted">Safe. Secure. EASY!</span></h2>
        <p class="lead">Click on <%= link_to "Sign Up", new_user_registration_path %> in the navigation bar up top. You can sign up with your Facebook or Twitter account, or use a plain 'ole email address. We never store your password and only use these services because the less passwords we all have to remember, the better! Amiright?</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Rate. <span class="text-muted">Survey say?!</span></h2>
        <p class="lead">Click on <%= link_to "Business List", businesses_path %> in the navigation bar. All businesses are cateorized by industry and the list can be searched and sorted to find just what you're looking for. Once you've found the business you're looking for, leave a constructive commenent and rate it from 1 to 10. Your rating is averaged with everyone else's so we can watch the cream rise to the top. You can "like" or "dislike" other reviews too. The more "likes/dislikes" a review gets, the higher it is placed in the list.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "home/marketing_2_large.jpg", :class => 'img-rounded img-responsive featurette_image' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <%= image_tag "home/marketing_3_large.jpg", :class => 'img-rounded img-responsive featurette_image' %>
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Repeat. <span class="text-muted">I said what!?</span></h2>
        <p class="lead">Change your mind? That's OK. Head over to <%= link_to "My Reviews", user_home_path %> in the navigation bar to manage your reviews. You can edit them, delete them, whatever you want...they're yours! </p>
      </div>
    </div>
  </div>
<div>