<div class="row ">
  <div class="col-md-8 col-md-offset-2">
    <h1>Terms and Conditions</h1>


    <h3>In using this website you are deemed to have read and agreed to the following terms and conditions:</h3>

    <h3>Terminology</h3>

    <p class="white_text">
      The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company", “Ourselves”, “We” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing Federal and State Law. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
    </p>

    <h3>Acceptance of our Terms</h3>

    <p class="white_text">
      By visiting the website <%= I18n.t('brand.name') %>, viewing, accessing or otherwise using any of the services or information created, collected, compiled or submitted to <%= I18n.t('brand.name') %>, you agree to be bound by the following Terms and Conditions of Service. If you do not want to be bound by our Terms your only option is not to visit, view or otherwise use the services of <%= I18n.t('brand.name') %>. You understand, agree and acknowledge that these Terms constitute a legally binding agreement between you and <%= I18n.t('brand.name') %> and that your use of <%= I18n.t('brand.name') %> shall indicate your conclusive acceptance of this agreement.
    </p>

    <h3>Provision of Services</h3>

    <p class="white_text">
      You agree and acknowledge that <%= I18n.t('brand.name') %> is entitled to modify, improve or discontinue any of its services at its sole discretion and without notice to you even if it may result in you being prevented from accessing any information contained in it. Furthermore, you agree and acknowledge that <%= I18n.t('brand.name') %> is entitled to provide services to you through subsidiaries or affiliated entities.
    </p>

    <h3>Proprietary Rights</h3>

    <p class="white_text">
      You acknowledge and agree that <%= I18n.t('brand.name') %> may contain proprietary and confidential information including trademarks, service marks and patents protected by intellectual property laws and international intellectual property treaties. <%= I18n.t('brand.name') %> authorizes you to view and make a single copy of portions of its content for offline, personal, non-commercial use. Our content may not be sold, reproduced, or distributed without our written permission. Any third-party trademarks, service marks and logos are the property of their respective owners. Any further rights not specifically granted herein are reserved.
    </p>

    <h3>Submitted Content</h3>

    <p class="white_text">
      When you submit content to <%= I18n.t('brand.name') %> you simultaneously grant <%= I18n.t('brand.name') %> an irrevocable, worldwide, royalty free license to publish, display, modify, distribute and syndicate your content worldwide. You confirm and warrant that you have the required authority to grant the above license to <%= I18n.t('brand.name') %>.
    </p>

    <h3>Privacy Statement</h3>

    <p class="white_text">
      We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. The U.S. Congress has created specific offences for unauthorised actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible
    </p>

    <h3>Confidentiality</h3>

    <p class="white_text">
      Client records are regarded as confidential and therefore will not be divulged to any third party, other than if legally required to do so to the appropriate authorities. Clients have the right to request sight of, and copies of any and all Client Records we keep, on the proviso that we are given reasonable notice of such a request. Clients are requested to retain copies of any literature issued in relation to the provision of our services. Where appropriate, we shall issue Client’s with appropriate written information, handouts or copies of records as part of an agreed contract, for the benefit of both parties.
    </p>

    <p class="white_text">
      <b>We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by this Company will only be in connection with the provision of agreed services and products.</b>
    </p>

    <h3>Log Files</h3>

    <p class="white_text">
      We use IP addresses to analyse trends, administer the site, track user’s movement, and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information. Additionally, for systems administration, detecting usage patterns and troubleshooting purposes, our web servers automatically log standard access information including browser type, access times/open mail, URL requested, and referral URL. This information is not shared with third parties and is used only within this Company on a need-to-know basis. Any individually identifiable information related to this data will never be used in any way different to that stated above without your explicit permission.
    </p>

    <h3>Cookies</h3>

    <p class="white_text">
      Like most interactive web sites this Company’s website [or ISP] uses cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting.
    </p>

    <h3>Termination of Agreement</h3>

    <p class="white_text">
      The Terms of this agreement will continue to apply in perpetuity until terminated by either party without notice at any time for any reason. Terms that are to continue in perpetuity shall be unaffected by the termination of this agreement.
    </p>

    <h3>Disclaimer of Warranties</h3>

    <p class="white_text">
      You understand and agree that your use of <%= I18n.t('brand.name') %> is entirely at your own risk and that our services are provided "As Is" and "As Available". <%= I18n.t('brand.name') %> does not make any express or implied warranties, endorsements or representations whatsoever as to the operation of the <%= I18n.t('brand.name') %> website, information, content, materials, or products. This shall include, but not be limited to, implied warranties of merchantability and fitness for a particular purpose and non-infringement, and warranties that access to or use of the service will be uninterrupted or error-free or that defects in the service will be corrected.
    </p>

    <h3>Limitation of Liability</h3>

    <p class="white_text">
      You understand and agree that <%= I18n.t('brand.name') %> and any of its subsidiaries or affiliates shall in no event be liable for any direct, indirect, incidental, consequential, or exemplary damages. This shall include, but not be limited to damages for loss of profits, business interruption, business reputation or goodwill, loss of programs or information or other intangible loss arising out of the use of or the inability to use the service, or information, or any permanent or temporary cessation of such service or access to information, or the deletion or corruption of any content or information, or the failure to store any content or information. The above limitation shall apply whether or not <%= I18n.t('brand.name') %> has been advised of or should have been aware of the possibility of such damages. In jurisdictions where the exclusion or limitation of liability for consequential or incidental damages is not allowed the liability of <%= I18n.t('brand.name') %> is limited to the greatest extent permitted by law.
    </p>

    <h3>External Content</h3>

    <p class="white_text">
      <%= I18n.t('brand.name') %> may include hyperlinks to third-party content, advertising or websites. You acknowledge and agree that <%= I18n.t('brand.name') %> is not responsible for and does not endorse any advertising, products or resource available from such resources or websites.
    </p>

    <h3>Jurisdiction</h3>

    <p class="white_text">
      You expressly understand and agree to submit to the personal and exclusive jurisdiction of the courts of the country, state, province or territory determined solely by <%= I18n.t('brand.name') %> to resolve any legal matter arising from this agreement or related to your use of <%= I18n.t('brand.name') %>. If the court of law having jurisdiction, rules that any provision of the agreement is invalid, then that provision will be removed from the Terms and the remaining Terms will continue to be valid.
    </p>

    <h3>Entire Agreement</h3>

    <p class="white_text">
      You understand and agree that the above Terms constitute the entire general agreement between you and <%= I18n.t('brand.name') %>. You may be subject to additional Terms and conditions when you use, purchase or access other services, affiliate services or third-party content or material.
    </p>

    <h3>Changes to the Terms</h3>

    <p class="white_text">
      <%= I18n.t('brand.name') %> reserves the right to modify these Terms from time to time at our sole discretion and without any notice. Changes to our Terms become effective on the date they are posted and your continued use of <%= I18n.t('brand.name') %> after any changes to Terms will signify your agreement to be bound by them.
    </p>

    <p class="white_text">
      <b>These terms and conditions form part of the Agreement between the Client and ourselves. Your accessing of this website and/or undertaking of a booking or Agreement indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory Consumer Rights are unaffected.</b>
    </p>
    <p class="white_text pull-right">
      © <%= I18n.t('brand.name') %> All Rights Reserved
    </p>
  </div>
</div>