<%= simple_form_for([@business, @business.reviews.build]) do |f| %>
  <p>
    <%= f.input :reviewer %>
  </p>
  <p>
    <%= f.input :review %>
  </p>
  <p>
    <%= f.input :rating %>
  </p>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>