<%= simple_form_for([@business, @review]) do |f| %>
  <%= f.error_notification %>
  <fieldset class="fields">
    <p>
      <%= f.input :review, placeholder: 'New review...', label: false  %>
    </p>
    <p>
      <%= f.input :rating, collection: 1..10 %>
    </p>
    <p>
      <%= f.submit :class => 'btn btn-primary' %>
    </p>
  </fieldset>
<% end %>
