<% if !review.user_id.nil? %>
    <div class="well">
        <p>
            <strong>Reviewer:</strong>
            <%= review.reviewer %>
        </p>
         
        <p>
            <strong>Review:</strong>
            <%= review.review %>
        </p>

        <p>
            <strong>Rating:</strong>
            <%= review.rating %>
        </p>
        <span class = "timestamp">
            posted <%= time_ago_in_words(review.created_at) %> ago.
        </span>
        <% if can? :update, @review %>
            <span class = "timestamp">
                <%= link_to "Edit", edit_business_review_path(review.business, review), class: 'btn btn-small' %>|
                <%= link_to "Delete", [review.business, review], method: :delete,
                       data: { confirm: 'Are you sure?' } %>
            </span>
        <% end %>
    </div>
<% end %>