<% cache(cache_key_for_reviews(@reviews)) do %>
  <% @reviews.each do |review| %>  
    <% cache(review) do %>
      <% if !review.user_id.nil? %>
        <div class="review_well">
          <p>
            <%= review.review %>
          </p>
          <p>
            Rating: <%= review.rating %>
          </p>
          <p>
            <%= render 'users/avatar', user: review.user %> - <span class="reviewer_quote"><%= review.user.first_name + ' ' + review.user.last_name%></span>
          </p>
          <span class = "timestamp">
            posted <%= time_ago_in_words(review.created_at) %> ago.
          </span>
          <% if can? :manage, review %>
            <%= link_to "Edit", edit_review_path(review) %> | 
            <% destroy_modal_id = 'destroy_modal_id' %>
            <%= link_to I18n.t('review.destroy.link'), review_path(review), data: { confirm: I18n.t('review.destroy.prompt'), confirm_modal: "##{destroy_modal_id}" }, method: :delete %>
            <%= render 'layouts/destroy_modal', id: destroy_modal_id, i18n_prefix: 'review.destroy' %>
          <% end %>
          <p>
            <%= link_to review_path(review) do %>
                <%= pluralize(review.comments.count, 'comment') %>
            <% end %>
          </p>
        </div>
      <% end %>    
    <% end %>
  <% end %>
<% end %>
