<% if !review.user_id.nil? %>
    <div class="well">
        <p>
            <strong>Reviewer:</strong>
            <%= review.reviewer %>
        </p>
         
        <p>
            <strong>Review:</strong>
            <%= review.review %>
        </p>

        <p>
            <strong>Rating:</strong>
            <%= review.rating %>
        </p>
        <span class = "timestamp">
            posted <%= time_ago_in_words(review.created_at) %> ago.
        </span>

        <p>
            <!--<% if can? :update, @review %>
                <%= link_to "Edit", business_review_path(@review) %> | 
            <% end %>
            <% if can? :destroy, @review %>
                <%= link_to "Destroy", @review, :method => :delete, :confirm => "Are you sure?" %>
            <% end %>-->
        </p>
    </div>
<% end %>