<div class="row">
  <div class="col-sm-12">
    <h1>Review for <%= @review.business.title %></h1>
    <div class="review_well">
      <p><%= @review.review %></p>
      <p>
        <%= render 'users/avatar', user: @review.user %> - <span class="reviewer_quote"><%= @review.user.first_name %> <%= @review.user.last_name %></span>
      </p>
      <span class = "timestamp">
        reviewed <%= time_ago_in_words(@review.created_at) %> ago.
      </span>
      <% if can? :manage, @review %>
        <%= link_to "Edit", edit_review_path(@review) %> | 
        <%= link_to "Delete", @review, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= simple_form_for([@commentable, @comment]) do |f| %>
        <%= f.error_notification %>
        <p>
          <%= f.input :text, placeholder: 'New comment...', label: false, :input_html => { :rows => 5 }   %>
        </p>
        <p>
          <%= f.submit :class => 'btn btn-primary' %>
          <%= link_to('Back to business', business_path(@review.business), :class => 'btn btn-primary')  %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% if @review.comments.count == 0 %>
      <div class="well">
        <p class="bus_name_home">
          Be the first to comment on this review!!
        </p>  
      </div>
    <% else %>
      <%= render "comments/comment" %>
      <div class="pagination">
        <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>  
  </div>
</div>

